<!DOCTYPE html>
<html>
    <head>
        <title> Projekti </title>
    </head>
    <body>
        <img src="https://mediapankki.metropolia.fi/images/logo/login-logo.png" alt="Metropolia logo"
        style="width:350px;height:100px;">
        <form action="">
            <div class="headingsContainer">
                <h3>Sign in</h3>
                <p>Sign in with your username and password</p>        <div class="mainContainer">
                    <hr>
                    <label for="username">Your username</label>
                    <input type="text" placeholder="Enter Username" name="username" required>
        
                    <br><br>
        
                    <label for="pswrd">Your password</label>
                    <input type="password" placeholder="Enter Password" name="pswrd" required>
                    <hr>
                    <br>
        
                     <button type="submit">Login</button>

                </div>
        
            </form>
        
    </body>
</html>