<html>
    <img src="https://mediapankki.metropolia.fi/images/logo/login-logo.png" alt="Metropolia logo"
    style="width:350px;height:100px;">
    <body>
        <h3>Teacher</h3>
        <p>Please fill in this to create a course</p>
        <hr>
        <label for="course name">Enter course name</label>
        <input type="text" placeholder="name" name="name" required>
        <br><br>
        <label for="course name">Enter course credit amount</label>
        <input type="text" placeholder="credit" name="name" required>
        <hr>
        <button type="submit">Create</button>
    </body>
</html>